{% extends 'index.html' %}
{% block content %}
    <h1>INFORMACIÓ ALUMNAT TIC BARCELONA</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>COGNOM</th>
                <th>ASSIGNATURES</th>
                <th>ROL</th>

            </tr>
        </thead>
        <tbody>
            {% for estudiant in estudiants %}
            <tr>
                <td>{{ estudiant.id }}</td>
                <td>{{ estudiant.nom }}</td>
                <td>{{ estudiant.cognom }}</td>                
                <td>{{ estudiant.assignatures }}</td>
                <td>{{ estudiant.rol}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href="{% url 'principal' %}"> Torna </a></button>
{% endblock %}