{% extends 'index.html' %}
{% block content %}
    <h1>INFORMACIÓ ALUMNAT TIC BARCELONA</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>ROL</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.nom }}</td>
                <td>{{ student.rol }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'principal' %}"> Torna </a>
{% endblock %}