{% extends 'index.html' %}
{% block content %}
    <h1>INFORMACIÓ PROFESSORAT TIC BCN</h1>    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>COGNOM</th>
                <th>ASSIGNATURES</th>
                <th>ROL</th>
            </tr>           
        </thead>
        <tbody>
            {% for professor in professors %}
            <tr>
                <td>{{professor.id}}</td>
                <td>{{professor.nom}}</td>
                <td>{{professor.cognom}}</td>
                <td>{{professor.assignatures}}</td>
                <td>{{professor.rol}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href="{% url 'principal' %}"> Torna </a></button>
{% endblock %}