{% extends 'index.html' %}
{% block content %}
    <h1>Informació del professorat amb l'id: {{ teacherInfo.id }}</h1>
    <ul>
        <li><strong>ID:</strong> {{ teacherInfo.id }}</li>
        <li><strong>Nom:</strong> {{ teacherInfo.nom }}</li>
        <li><strong>Cognom:</strong> {{ teacherInfo.cognom }}</li>
        <li><strong>Edat:</strong> {{ teacherInfo.edat }}</li>
        <li><strong>Rol:</strong> {{ teacherInfo.rol }}</li>
        <li><strong>Curs:</strong> {{ teacherInfo.curs }}</li>
    </ul>
    <a href="{% url 'teachers' %}"> Torna </a>
    <br>
    <a href="{% url 'principal' %}"> Pàgina Principal</a>
{% endblock %}